*{
  margin: 0px;
  padding: 0px;
}

header{
  background-color:rgb(47, 54, 52);
  display: flex;
  align-items:  center;
  justify-content: space-between;
  width: 98.7vw;
}
 .logo{
  width: 145px;
  margin: 5px;
  
}

.nome{
  font-size: 15px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: azure;
}

.nomes h2 {
  font-size: 1.2em;
  margin: 0;
  gap: 10px;
  margin: 5px;
  color: black;
}

.nomes p {
  margin: 0;
  color: #666;
  margin: 5px;
  color: black;
}

.clube{
  font-size: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  margin-bottom: 10px;
  color: black;
}

.card{
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 4px;
  width: 100%;
 
}

@media (max-width: 768px) {

  header {
    padding: 5px 10px; 
  }
  .clube {
    font-size: calc(1em + 1.5vw); 
  }
  .card {
    padding: 5px; 
  }
}